<div class="navbar">
  <%= render 'shared/navbar' %>
</div>

<div>
  <%= render 'shared/notifications' %>
</div>

<div>
  <% @users.each do |user| %>
    <div>
      <%= user.first_name %>
      <%= user.username %>
      <%= user.id %>
      <%= button_to 'Add Friend', user_friend_requests_path(user.id), 
          params: { friend_request: {sender_id: current_user.id ,
                                     receiver_id: user.id}} %>
    </div> <br>
  <% end %>
</div>